---
title: About Us
permalink: "/about/"
position: 1
layout: static-page
show: true
---

{% include hero.html
  bg_image="office-worker.jpg"
  bg_position="center"
  bg_size="cover"
  heading="What do Imbue have to offer?"
  lead="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
  nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  Ut wisi enim ad Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
  diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
  volutpat."
  type="full"
  text_align="left"
%}

{% assign about_pictures = site.data.about-pictures %}
{% include 2x2-pictures-with-content.html
  title="About Imbue Office Space"
  content="Imbue is a 20000ft building that hosts a number of office spaces for businesses looking to work in a spacious and modern environment. Imbue’s environment strives to inspire its tenants and encourages them to thrive. Located in Spectrum Business Park in the County Durham town of Seaham, Dalton Park Outlet Shopping and Leisure Centre is a mere 2.5 mile drive away, whilst Seaham’s town centre comes in even closer at 1.3 miles away which is filled to the brim with cafes, shops and restaurants. With easy access to both A19 and A1, the north east hubs of Sunderland, Newcastle and Durham are a short drive away, each one jam packed with fantastic places to eat, drink, shop and be entertained!"
  pictures=about_pictures
%}
