---
title: About Us
permalink: "/about/"
position: 1
layout: static-page
show: true
description: We provide modern and spacious office facilities for a range of businesses.
---

{% include hero.html
  bg_image="office-worker.jpg"
  bg_position="center"
  bg_size="cover"
  heading="What do Imbue have to offer?"
  lead="Imbue can provide your business with contemporary office space in exhilarating surroundings. Our spacious facilities can give you an environment for your company to thrive in, for your clients to feel valued and for your staff to be inspired by. 

  As well as stylish office space for rent, Imbue can offer onsite parking, a shared reception area and a range of accessible tenure arrangements.  
  "
  type="full"
  text_align="left"
%}

{% assign about_pictures = site.data.about-pictures %}
{% include 2x2-pictures-with-content.html
  title="About Imbue Office Space"
  content="With Imbue, your business can enjoy a 72,000 sqft building that hosts a number of office spaces for those looking to work in a spacious and modern environment. Striving to inspire its tenants, Imbue encourages them to thrive. 

  Located in Spectrum Business Park in the County Durham town of Seaham, Imbue is a mere 2.5 miles away from Dalton Park Shopping Outlet and Leisure Centre and just over 1 mile away from Seaham town centre. 
  With easy access to both the A19 and the A1, the northeast hubs of Sunderland, Newcastle, and Durham are a short drive away - each one jam-packed with fantastic places to eat, drink, shop, and be entertained.
  
  As well as stunning views, Imbue also holds a breath-taking full height atrium reception area and a ‘meet and greet’ receptionist. From there, tenants can access all floors via two separate lifts."
  pictures=about_pictures
%}

{% include tenants.html %}
