---
title: Contact Us
permalink: "/contact/"
position: 3
layout: static-page
show: true
redirect_from:
  - /tenants
---

{% include hero.html
  bg_image="board-room-2.jpg"
  bg_position="center"
  bg_size="cover"
  heading="Get in touch with us"
  lead="If you’re interested in working in a relaxed but professional environment that will allow your company to develop successfully - and in the way you want it - get in touch through the Contact Form or the telephone number below.

  In order for us to provide you with a tailored solution to your office space needs, we recommend you be as detailed as possible."
  type="full"
  text_align="left"
%}

{% include contact-us-form.html %}
