<div class="container-fluid pt-md-5 pb-md-5">
  <div class="row pictures">
    <div class="row m-0 px-0 col-md-6 align-self-start">
      {%- assign pictures = include.pictures -%}
      {% assign delay = 0 %}
      {% for picture in pictures %}
        {% capture picture_image %}{{ picture.image }}{% endcapture %}
        {% capture picture_alt %}{{ picture.title }}{% endcapture %}
        {% capture picture_class %}img-fluid img-cover{% endcapture %}

        {% unless forloop.first %}
          {% assign delay = delay | plus: 1 %}
        {% endunless %}

        <div class="col-lg-{% if forloop.index == 1 or forloop.index == 4 %}12 col-xl-6{% else %}6{% endif %}
        p-1
        come-in come-in-view come-in-left
        {% unless forloop.first %}delay-{{ delay }}{% endunless %}">
          {% include image.html name=picture_image alt=picture_alt class=picture_class %}
          <noscript>
            {% include noscript-image.html name=picture_image alt=picture_alt class=picture_class %}
          </noscript>
        </div>
      {% endfor %}
    </div>

    <div class="w-100 align-self-start col-md-4 px-4">
      <div class="row pt-3">
        <div class="col-lg-12 col-xl-10 pr-md-5 come-in come-in-view come-in-right">
          <h2 class="pb-3">{{ include.title }}</h2>
          <p>{{ include.content | markdownify }}</p>
          <ul>
            {% for service in site.data.services %}
              <li>{{ service.title }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
