<div class="card p-3 fixed-bottom w-100 bg-dark text-light cookie-banner appear js">
    <div class="card-body container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <p class="card-text m-0">Imbue uses cookies to enhance your experience while browsing this site. We assume you agree to the use of these cookies.</p>
        <a class="btn btn-primary align-self-stretch" id="Cookie-Acknowledge">OK</a>
    </div>
  </div>

  <script>
    // if there is a cookies_acknowledged cookie then hide cookie banner
    if (Cookies.get('cookies_acknowledged')) {
      $('.cookie-banner').css('display', 'none');
    }
    
    // this cookie expires in a year if it does not already exist
    $('#Cookie-Acknowledge').click(function() {
      if (Cookies.get('cookies_acknowledged') == null) {
        Cookies.set('cookies_acknowledged', 'yes', { expires: 365, path: '/' });
      }
      $('.cookie-banner').removeClass('appear').addClass('disappear');
    })
  </script>
