<link rel="apple-touch-icon" sizes="180x180" href="{{ site.img_dir }}apple-touch-icon.png?v=alQBmG5ReX">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.img_dir }}favicon-32x32.png?v=alQBmG5ReX">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.img_dir }}favicon-16x16.png?v=alQBmG5ReX">
<link rel="manifest" href="{{ site.img_dir }}site.webmanifest?v=alQBmG5ReX">
<link rel="mask-icon" href="{{ site.img_dir }}safari-pinned-tab.svg?v=alQBmG5ReX" color="#5bbad5">
<link rel="shortcut icon" href="{{ site.img_dir }}favicon.ico?v=alQBmG5ReX">
<meta name="msapplication-TileColor" content="#9DCA3B">
<meta name="msapplication-TileImage" content="{{ site.img_dir }}mstile-144x144.png?v=alQBmG5ReX">
<meta name="msapplication-config" content="{{ site.img_dir }}browserconfig.xml?v=alQBmG5ReX">
<meta name="theme-color" content="#ffffff">
