<div class="container-fluid pt-md-1">
  <div class="row pictures">
    {%- assign pictures = include.pictures -%}
    {% assign delay = 0 %}
    {% assign zindex = 7 %}
    {% for picture in pictures %}
      {% capture picture_image %}{{ picture.image }}{% endcapture %}
      {% capture picture_alt %}{{ picture.title }}{% endcapture %}
      {% capture picture_class %}img-fluid img-cover h-100{% endcapture %}

        {% assign delay = delay | plus: 1 %}
        {% if delay == 4 %}
          {% assign delay = 1 %}
        {% endif %}

      <div class="col-md-6 col-lg-4 office-image
      pl-1 py-1 pr-1
      {% if forloop.index == 1 or forloop.index == 5 %} pr-md-1 pr-lg-1 pr-xl-1 {% endif %}
      {% if forloop.index == 2 or forloop.index == 6 %} pl-md-1 pl-lg-1 pl-xl-1 pr-xl-1{% endif %}
      {% if forloop.index == 3 or forloop.index == 7 %} pr-md-1 pl-lg-1 pl-xl-1 pr-xl-1{% endif %}
      {% if forloop.index == 4 or forloop.index == 8 %} pl-md-1 pr-lg-1 pl-xl-1 {% endif %}

      {% if forloop.index == 5 %} pl-lg-1 {% endif %}
      {% if forloop.index == 2 %} pr-lg-1 {% endif %}
      {% if forloop.index < 4 %}come-in come-in-view{% else %}come-in-view{% endif %} come-in-up {% unless forloop.first %}delay-{{ delay }}{% endunless %}">

        <div class="w-100 h-100 position-relative offices-image-container">
          {% include image.html name=picture_image alt=picture_alt class=picture_class %}
          <noscript>
            {% include noscript-image.html name=picture_image alt=picture_alt class=picture_class %}
          </noscript>
          <span class="d-md-none d-block position-absolute swipe-marker text-uppercase text-light font-weight-bold bg-dark py-2 px-5 come-in-view slide-in-up">Swipe</span>
          <div class="offices-overlay text-center
          d-flex flex-column justify-content-center
          position-absolute h-100 w-100 text-light px-xl-4 px-3 py-5">
            <h3 class="h4 font-weight-bold">{{ picture.title }}</h3>
            <p class="lead">{{ picture.content }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<script>
  window.onload = function() {
    if (window.jQuery) {
      if ($(window).width() < 768) {
        $('.offices-image-container').on('swipe', function(event) {
          $(this).children('.offices-overlay').toggleClass('show');
        })
      }

      $(window).on('resize', function() {
        $('.offices-image-container').on('swipe', function(event) {
          if ($(window).width() < 768) {
            $(this).children('.offices-overlay').toggleClass('show');
          } else {
            event.stopPropagation();
          }  
        })
      })
    }
  }
</script>
