<div class="container-fluid floorplan pt-lg-5">
  <div class="container">
    <div class="row px-2">
      <ul class="nav nav-tabs border-primary align-items-end pt-5 col-md-5" id="floorplanTab" role="tablist">
        {% for floor in site.data.floors.floors %}
          <li class="nav-item">
            <a
            class="nav-link floor-tabs border-0 font-weight-bold text-dark {% if forloop.index == 2 %}active{% endif %}"
            id="floor-{{ floor.floor }}-tab"
            data-toggle="tab"
            href="#Floor-{{ floor.floor }}"
            role="tab"
            aria-controls="Floor {{ floor.floor }}"
            aria-selected="{% if forloop.index == 2 %}true{% else %}false{% endif %}">
              Floor {{ floor.floor }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <div class="tab-content col-md-7 px-0 pt-3 pt-md-0 d-flex" id="floorplanTabContent2">
        {% for floor in site.data.floors.floors %}
          <div id="Floor-{{ floor.floor }}-img" class="tab-pane col p-0 justify-content-end align-items-end fade {% if forloop.index == 2 %}show active{% endif %}">
            <div class="col-md-5 p-0 building-status position-relative">
              {% include noscript-image.html name="Building.svg" class="building-vector img-fluid position-relative" alt="Building" %}
              <div class="position-absolute bg-primary building-floor-indicator"
              style="bottom: {% if forloop.first %}25{% elsif forloop.index == 2 %}41{% else %}57{% endif %}%"></div>
            </div>

            <div class="col-md d-flex flex-column h-100 justify-content-center">
              <span>Floor {{ floor.floor }} total space <span class="font-weight-bold">{{ floor.totalSpace }}sq</span></span>
              <span>Floor {{ floor.floor }} available space <span class="font-weight-bold">{{ floor.availableSpace }}{% unless floor.availableSpace == 0 %}sq{% endunless %}</span></span>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row tab-content h-100 px-0 pb-1" id="floorplanTabContent">
    {% for floor in site.data.floors.floors %}
      <div
      class="col px-0 floorplan__floor tab-pane fade in {% if forloop.index == 2 %}show active{% endif %}"
      id="Floor-{{ floor.floor }}"
      role="tabpanel"
      aria-labelledby="floor-{{ floor.floor }}-tab">
        <div class="container">
          <div class="floorplan__floor-title text-label col-12 w-100 pt-5">
            <h2>Floor {{ floor.floor }}</h2>
          </div>

          <div class="d-flex flex-column position-relative">
            {% if floor.rooms.south.fullWing == true and floor.rooms.north.fullWing == true %}
              {% include Lighthouse_Building_Rooms_Both_Wing_Empty.html %}
            {% elsif floor.floor == 2 %}
              {% include Lighthouse_Building_Rooms_Floor2.html %}
            {% elsif floor.floor == 3 %}
              {% include Lighthouse_Building_Rooms_Floor3.html %}
            {% elsif floor.rooms.south.fullWing == true %}
              {% include Lighthouse_Building_Rooms_South_Wing_Empty.html %}
            {% else %}
              {% include Lighthouse_Building_Rooms.html %}
            {% endif %}
            <nav class="col d-flex position-absolute" style="height: 0; padding-bottom: 54%;">
              <ul class="floorplan__floor-wrapper col-12 w-100 position-absolute d-flex justify-content-center nav nav-tabs border-0" id="room-tabs" role="tablist">

                {% if floor.rooms.south.fullWing == true %}
                  {% assign room = floor.rooms.south %}
                  <div class="row col w-100 m-0 p-0">
                    <div class="row w-100 m-0">
                      <li class="nav-item floorplan__wing">
                        <a
                        class="border-0 p-0 w-100 h-100 nav-link d-flex align-items-end justify-content-center {% if room.isAvailable == false %}bg-muted {% else %}bg-primary {% endif %}active"
                        id="{{ floor.floor }}-{{ room.room_number }}"
                        data-toggle="tab"
                        href="#content-{{ floor.floor }}-{{ room.room_number }}"
                        role="tab"
                        aria-controls="content-{{ floor.floor }}-{{ room.room_number }}"
                        aria-selected="true"
                        title="{{ room.title }}"
                        data-content="Available: {% if room.isAvailable %}Yes{% else %}No{% endif %}"
                        data-placement="top">
                        <span class="floorplan__wing--label text-center text-light position-absolute floorplan__room-availability">{% if room.isAvailable %}Available{% else %}Occupied{% endif %}</span>
                        </a>
                      </li>
                    </div>
                    <span class="h4 m-0 font-weight-normal text-center text-uppercase text-label position-absolute wing-label">{{ room.title }}</span>
                  </div>
                {% else %}
                  <div class="row col w-100 m-0 p-0">
                    <div class="row w-100 m-0">
                      {% for room in floor.rooms.south.top %}
                        <li class="nav-item floorplan__room">
                          <a
                          class="border-0 p-0 w-100 h-100 nav-link d-flex align-items-end justify-content-center  {% unless forloop.first or forloop.last %}col px-0 {% endunless %} {% if room.isAvailable == false %}bg-muted {% else %}bg-primary {% endif %}{% if forloop.first %}active{% endif %}"
                          id="{{ floor.floor }}-{{ room.room_number }}"
                          data-toggle="tab"
                          href="#content-{{ floor.floor }}-{{ room.room_number }}"
                          role="tab"
                          aria-controls="content-{{ floor.floor }}-{{ room.room_number }}"
                          aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                          title="{{ room.title }}"
                          data-content="Available: {% if room.isAvailable %}Yes{% else %}No{% endif %}"
                          data-placement="top">
                          <span class="floorplan__room--label text-center text-light position-absolute floorplan__">{{ room.title }}</span>
                          </a>
                        </li>
                      {% endfor %}
                    </div>

                    <span class="h4 m-0 font-weight-normal text-center text-uppercase text-label position-absolute wing-label">South Wing</span>

                    <div class="row w-100 m-0 position-relative">
                      {% for room in floor.rooms.south.bottom %}
                        <li class="nav-item floorplan__room">
                          <a
                          class="border-0 p-0 w-100 h-100 nav-link d-flex align-items-end justify-content-center  {% unless forloop.first or forloop.last %}col px-0 {% endunless %} {% if room.isAvailable == false %}bg-muted {% else %}bg-primary {% endif %}"
                          id="{{ floor.floor }}-{{ room.room_number }}"
                          data-toggle="tab"
                          href="#content-{{ floor.floor }}-{{ room.room_number }}"
                          role="tab"
                          aria-controls="content-{{ floor.floor }}-{{ room.room_number }}"
                          aria-selected="{% if forloop.index == 2 %}true{% else %}false{% endif %}"
                          title="{{ room.title }}"
                          data-content="Available: {% if room.isAvailable %}Yes{% else %}No{% endif %}"
                          data-placement="bottom">
                          <span class="floorplan__room--label text-center text-light position-absolute">{{ room.title }}</span>
                          </a>
                        </li>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                

                <div class="floorplan__room--center" href="#"></div>

                {% if floor.rooms.north.fullWing == true %}
                  {% assign room = floor.rooms.north %}
                  <div class="row col w-100 m-0 p-0">
                    <div class="row w-100 m-0">
                      <li class="nav-item floorplan__wing">
                        <a
                        class="border-0 p-0 w-100 h-100 nav-link d-flex align-items-end justify-content-center {% if room.isAvailable == false %}bg-muted {% else %}bg-primary {% endif %}active"
                        id="{{ floor.floor }}-{{ room.room_number }}"
                        data-toggle="tab"
                        href="#content-{{ floor.floor }}-{{ room.room_number }}"
                        role="tab"
                        aria-controls="content-{{ floor.floor }}-{{ room.room_number }}"
                        aria-selected="true"
                        title="{{ room.title }}"
                        data-content="Available: {% if room.isAvailable %}Yes{% else %}No{% endif %}"
                        data-placement="top">
                        <span class="floorplan__wing--label text-center text-light position-absolute floorplan__room-availability">{% if room.isAvailable %}Available{% else %}Occupied{% endif %}</span>
                        </a>
                      </li>
                    </div>
                    <span class="h4 m-0 font-weight-normal text-center text-uppercase text-label position-absolute wing-label">{{ room.title }}</span>
                  </div>
                {% else %}
                  <div class="row col w-100 m-0 p-0">
                    <div class="row w-100 m-0">
                      {% for room in floor.rooms.north.top %}
                        <li class="nav-item {% if forloop.length == 1 %}w-100 floorplan__wing {% else %}floorplan__room {% endif %}">
                          <a
                          class="border-0 p-0 w-100 h-100 nav-link d-flex align-items-end justify-content-center  {% unless forloop.first or forloop.last %}col px-0 {% endunless %} {% if room.isAvailable == false %}bg-muted {% else %}bg-primary {% endif %}"
                          id="{{ floor.floor }}-{{ room.room_number }}"
                          data-toggle="tab"
                          href="#content-{{ floor.floor }}-{{ room.room_number }}"
                          role="tab"
                          aria-controls="content-{{ floor.floor }}-{{ room.room_number }}"
                          aria-selected="{% if forloop.index == 2 %}true{% else %}false{% endif %}"
                          title="{{ room.title }}"
                          data-content="Available: {% if room.isAvailable %}Yes{% else %}No{% endif %}"
                          data-placement="top">
                          <span class="{% if forloop.length == 1 %}floorplan__wing--label {% else %}floorplan__room--label {% endif %} text-center text-light position-absolute">{{ room.title }}</span>
                          </a>
                        </li>
                      {% endfor %}
                    </div>

                    <span class="h4 m-0 font-weight-normal text-center text-uppercase text-label position-absolute wing-label">North Wing</span>

                    <div class="row w-100 m-0 position-relative">
                      {% for room in floor.rooms.north.bottom %}
                        <li class="nav-item floorplan__room">
                          <a
                          class="border-0 p-0 w-100 h-100 nav-link d-flex align-items-end justify-content-center  {% unless forloop.first or forloop.last %}col px-0 {% endunless %} {% if room.isAvailable == false %}bg-muted {% else %}bg-primary {% endif %}"
                          id="{{ floor.floor }}-{{ room.room_number }}"
                          data-toggle="tab"
                          href="#content-{{ floor.floor }}-{{ room.room_number }}"
                          role="tab"
                          aria-controls="content-{{ floor.floor }}-{{ room.room_number }}"
                          aria-selected="{% if forloop.index == 2 %}true{% else %}false{% endif %}"
                          title="{{ room.title }}"
                          data-content="Available: {% if room.isAvailable %}Yes{% else %}No{% endif %}"
                          data-placement="bottom">
                          <span class="floorplan__room--label text-center text-light position-absolute">{{ room.title }}</span>
                          </a>
                        </li>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </ul>
            </nav>
          </div>

          <div class="row w-100 col-12 mx-0 pb-5 availability">
            <div class="col-xl-2 col-lg-3 col-md-3 d-md-block d-none p-0">
              {% if floor.rooms.south.fullWing == true %}
                {% assign room = floor.rooms.south %}
                <span id="availability-{{ floor.floor }}-{{ room.room_number }}" class="floorplan__room-availability d-block py-1">{% if room.title %}{{ room.title }} - {% endif %}{% if room.isAvailable %}Available{% else %}Occupied{% endif %}</span>
              {% else %}
                {% for room in floor.rooms.south.top %}
                  <span id="availability-{{ floor.floor }}-{{ room.room_number }}" class="floorplan__room-availability d-block py-1">{% if room.title %}{{ room.title }} - {% endif %}{% if room.isAvailable %}Available{% else %}Occupied{% endif %}</span>
                {% endfor %}
              {% endif %}
            </div>
          
            <div class="col-xl-2 col-lg-3 col-md-3 d-md-block d-none p-0">
              {% unless floor.rooms.south.fullWing == true %}
                {% for room in floor.rooms.south.bottom %}
                  <span id="availability-{{ floor.floor }}-{{ room.room_number }}" class="floorplan__room-availability d-block py-1">{% if room.title %}{{ room.title }} - {% endif %}{% if room.isAvailable %}Available{% else %}Occupied{% endif %}</span>
                {% endfor %}
              {% endunless %}
            </div>

            <div class="availability-center d-sm-none d-xl-flex"></div>

            <div class="col-xl-2 col-lg-3 col-md-3 d-md-block d-none p-0">
              {% if floor.rooms.north.fullWing == true %}
                {% assign room = floor.rooms.north %}
                <span id="availability-{{ floor.floor }}-{{ room.room_number }}" class="floorplan__room-availability d-block py-1">{% if room.title %}{{ room.title }} - {% endif %}{% if room.isAvailable %}Available{% else %}Occupied{% endif %}</span>
              {% else %}
                {% for room in floor.rooms.north.top %}
                  <span id="availability-{{ floor.floor }}-{{ room.room_number }}" class="floorplan__room-availability d-block py-1">{% if room.title %}{{ room.title }} - {% endif %}{% if room.isAvailable %}Available{% else %}Occupied{% endif %}</span>
                {% endfor %}
              {% endif %}
            </div>

            <div class="col-xl-2 col-lg-3 col-md-3 d-md-block d-none p-0">
              {% unless floor.rooms.north.fullWing == true %}
                {% for room in floor.rooms.north.bottom %}
                  <span id="availability-{{ floor.floor }}-{{ room.room_number }}" class="floorplan__room-availability d-block py-1">{% if room.title %}{{ room.title }} - {% endif %}{% if room.isAvailable %}Available{% else %}Occupied{% endif %}</span>
                {% endfor %}
              {% endunless %}
            </div>
          </div>
        </div>

        <div class="row m-0 floorplan__room-content tab-content" id="content-floor-{{ floor.floor }}">
          {% if floor.rooms.south.fullWing == true %}
            {% assign room = floor.rooms.south %}
            <div class="col-12 row m-0 px-1 w-100 tab-pane room-tab-pane show active" id="content-{{ floor.floor }}-{{ room.room_number }}" role="tabpanel" aria-labelledby="{{ floor.floor }}-{{ room.room_number }}">
                <div class="col-lg-5 p-0">
                  {% if room.image %}
                    {% assign room_img = room.image %}
                    {% include image.html name=room_img class="h-100 img-fluid img-cover" %}
                  {% elsif floor.floor == 3 %}
                    {% include image.html name="office-floor-3.jpg" class="h-100 img-fluid img-cover" %}
                  {% else %}
                    {% include image.html name="redu-office.jpg" class="h-100 img-fluid img-cover" %}
                  {% endif %}
                </div>
                <div class="col row m-0 w-100 text-label bg-dark p-5">
                  <div class="col-lg-4 font-weight-bold text-uppercase">
                    {% if room.title %}<span>Ref: <span class="text-primary">{{ room.title }}</span></span>{% endif %}
                    <br>
                    {% if room.area %}
                      <span>Area: <span class="text-primary text-lowercase">{{ room.area }} sqft</span></span>
                    {% endif %}
                  </div>
                  <div class="col-lg text-lg-right font-weight-bold text-uppercase">
                    <span>Contact: <a href="tel:{{ site.phone | remove: ' ' }}" class="text-primary">{{ site.phone }}</a></span>
                    <br>
                    <span>Email: <a href="mailto:{{ site.email }}" class="text-primary">{{ site.email }}</a></span>
                  </div>

                  <div class="row w-100">
                    <div class="col p-4">
                      <p>{{ room.description | markdownify | newline_to_br }}</p>
                      <a href="{{ '/contact' | absolute_url }}" class="btn btn-primary" role="button">Contact Us</a>
                    </div>
                  </div>
                </div>

                <a href="/contact" class="room-contact-strip row m-0 py-3 p-sm-0 bg-primary text-uppercase d-flex justify-content-center align-items-center">
                  <div class="font-weight-bold text-light">
                    Contact
                  </div>
                </a>
              </div>
          {% else %}
            {% for room in floor.rooms.south.top %}
              <div class="col-12 row m-0 px-1 w-100 tab-pane room-tab-pane {% if forloop.first %}show active{% endif %}" id="content-{{ floor.floor }}-{{ room.room_number }}" role="tabpanel" aria-labelledby="{{ floor.floor }}-{{ room.room_number }}">
                <div class="col-lg-5 p-0">
                  {% if room.image %}
                    {% assign room_img = room.image %}
                    {% include image.html name=room_img class="h-100 img-fluid img-cover" %}
                  {% elsif floor.floor == 3 %}
                    {% include image.html name="office-floor-3.jpg" class="h-100 img-fluid img-cover" %}
                  {% else %}
                    {% include image.html name="redu-office.jpg" class="h-100 img-fluid img-cover" %}
                  {% endif %}
                </div>
                <div class="col row m-0 w-100 text-label bg-dark p-5">
                  <div class="col-lg-4 font-weight-bold text-uppercase">
                    <span>Ref: <span class="text-primary">{{ room.title }}</span></span>
                    <br>
                    {% if room.area %}
                      <span>Area: <span class="text-primary text-lowercase">{{ room.area }} sqft</span></span>
                    {% endif %}
                    </div>
                  <div class="col-lg text-lg-right font-weight-bold text-uppercase">
                    <span>Contact: <a href="tel:{{ site.phone | remove: ' ' }}" class="text-primary">{{ site.phone }}</a></span>
                    <br>
                    <span>Email: <a href="mailto:{{ site.email }}" class="text-primary">{{ site.email }}</a></span>
                  </div>

                  <div class="row w-100">
                    <div class="col p-4">
                      <p>{{ room.description | markdownify }}</p>
                      <a href="{{ '/contact' | absolute_url }}" class="btn btn-primary" role="button">Contact Us</a>
                    </div>
                  </div>
                </div>

                <a href="/contact" class="room-contact-strip row m-0 py-3 p-sm-0 bg-primary text-uppercase d-flex justify-content-center align-items-center">
                  <div class="font-weight-bold text-light">
                    Contact
                  </div>
                </a>
              </div>
            {% endfor %}

          {% for room in floor.rooms.south.bottom %}
            <div class="col-12 row m-0 px-1 w-100 room-tab-pane tab-pane" id="content-{{ floor.floor }}-{{ room.room_number }}" role="tabpanel" aria-labelledby="{{ floor.floor }}-{{ room.room_number }}">
              <div class="col-lg-5 p-0">
                {% if room.image %}
                  {% assign room_img = room.image %}
                  {% include image.html name=room_img class="h-100 img-fluid img-cover" %}
                {% elsif floor.floor == 3 %}
                  {% include image.html name="office-floor-3.jpg" class="h-100 img-fluid img-cover" %}
                {% else %}
                  {% include image.html name="redu-office.jpg" class="h-100 img-fluid img-cover" %}
                {% endif %}
              </div>
              <div class="col row m-0 w-100 text-label bg-dark p-5">
                <div class="col-lg-4 font-weight-bold text-uppercase">
                  <span>Ref: <span class="text-primary">{{ room.title }}</span></span>
                  <br>
                  {% if room.area %}
                    <span>Area: <span class="text-primary text-lowercase">{{ room.area }} sqft</span></span>
                  {% endif %}
                </div>
                <div class="col-lg text-lg-right font-weight-bold text-uppercase">
                  <span>Contact: <a href="tel:{{ site.phone | remove: ' ' }}" class="text-primary">{{ site.phone }}</a></span>
                  <br>
                  <span>Email: <a href="mailto:{{ site.email }}" class="text-primary">{{ site.email }}</a></span>
                </div>

                <div class="row w-100">
                  <div class="col p-4">
                    <p>{{ room.description | markdownify }}</p>
                      <a href="{{ '/contact' | absolute_url }}" class="btn btn-primary" role="button">Contact Us</a>
                  </div>
                </div>
              </div>

              <a href="/contact" class="room-contact-strip row m-0 py-3 p-sm-0 bg-primary text-uppercase d-flex justify-content-center align-items-center">
                <div class="font-weight-bold text-light">
                  Contact
                </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}

        {% if floor.rooms.north.fullWing == true %}
          {% assign room = floor.rooms.north %}
          <div class="col-12 row m-0 px-1 w-100 tab-pane room-tab-pane" id="content-{{ floor.floor }}-{{ room.room_number }}" role="tabpanel" aria-labelledby="{{ floor.floor }}-{{ room.room_number }}">
              <div class="col-lg-5 p-0">
                  {% if room.image %}
                  {% assign room_img = room.image %}
                  {% include image.html name=room_img class="h-100 img-fluid img-cover" %}
                {% elsif floor.floor == 3 %}
                  {% include image.html name="office-floor-3.jpg" class="h-100 img-fluid img-cover" %}
                {% else %}
                  {% include image.html name="redu-office.jpg" class="h-100 img-fluid img-cover" %}
                {% endif %}
              </div>
              <div class="col row m-0 w-100 text-label bg-dark p-5">
                <div class="col-lg-4 font-weight-bold text-uppercase">
                  {% if room.title %}<span>Ref: <span class="text-primary">{{ room.title }}</span></span>{% endif %}
                  <br>
                  {% if room.area %}
                    <span>Area: <span class="text-primary text-lowercase">{{ room.area }} sqft</span></span>
                  {% endif %}
                </div>
                <div class="col-lg text-lg-right font-weight-bold text-uppercase">
                  <span>Contact: <a href="tel:{{ site.phone | remove: ' ' }}" class="text-primary">{{ site.phone }}</a></span>
                  <br>
                  <span>Email: <a href="mailto:{{ site.email }}" class="text-primary">{{ site.email }}</a></span>
                </div>

                <div class="row w-100">
                  <div class="col p-4">
                    <p>{{ room.description | markdownify | newline_to_br }}</p>
                    <a href="{{ '/contact' | absolute_url }}" class="btn btn-primary" role="button">Contact Us</a>
                  </div>
                </div>
              </div>

              <a href="/contact" class="room-contact-strip row m-0 py-3 p-sm-0 bg-primary text-uppercase d-flex justify-content-center align-items-center">
                <div class="font-weight-bold text-light">
                  Contact
                </div>
              </a>
            </div>
          {% else %}
            {% for room in floor.rooms.north.top %}
              <div class="col-12 row m-0 px-1 w-100 room-tab-pane tab-pane" id="content-{{ floor.floor }}-{{ room.room_number }}" role="tabpanel" aria-labelledby="{{ floor.floor }}-{{ room.room_number }}">
                <div class="col-lg-5 p-0">
                    {% if room.image %}
                    {% assign room_img = room.image %}
                    {% include image.html name=room_img class="h-100 img-fluid img-cover" %}
                  {% elsif floor.floor == 3 %}
                    {% include image.html name="office-floor-3.jpg" class="h-100 img-fluid img-cover" %}
                  {% else %}
                    {% include image.html name="redu-office.jpg" class="h-100 img-fluid img-cover" %}
                  {% endif %}
                </div>
                <div class="col row m-0 w-100 text-label bg-dark p-5">
                  <div class="col-lg-4 font-weight-bold text-uppercase">
                    <span>Ref: <span class="text-primary">{{ room.title }}</span></span>
                    <br>
                    {% if room.area %}
                      <span>Area: <span class="text-primary text-lowercase">{{ room.area }} sqft</span></span>
                    {% endif %}
                  </div>
                  <div class="col-lg text-lg-right font-weight-bold text-uppercase">
                    <span>Contact: <a href="tel:{{ site.phone | remove: ' ' }}" class="text-primary">{{ site.phone }}</a></span>
                    <br>
                    <span>Email: <a href="mailto:{{ site.email }}" class="text-primary">{{ site.email }}</a></span>
                  </div>

                  <div class="row w-100">
                    <div class="col p-4">
                      <p>{{ room.description }}</p>
                      Imbue's facilities include:
                      <ul>
                        <li>Onsite Parking Available</li>
                        <li>CCTV in Operation</li>
                        <li>Reception</li>
                        <li>Fully Adjustable Air Conditioning</li>
                        <li>Meetings and Boardrooms Available</li>
                        <li>LED Lighting System</li>
                      </ul>
                      <a href="{{ '/contact' | absolute_url }}" class="btn btn-primary" role="button">Contact Us</a>
                    </div>
                  </div>
                </div>

                <a href="/contact" class="room-contact-strip row m-0 py-3 p-sm-0 bg-primary text-uppercase d-flex justify-content-center align-items-center">
                  <div class="font-weight-bold text-light">
                    Contact
                  </div>
                </a>
              </div>
            {% endfor %}

            {% for room in floor.rooms.north.bottom %}
              <div class="col-12 row m-0 px-1 w-100 room-tab-pane tab-pane" id="content-{{ floor.floor }}-{{ room.room_number }}" role="tabpanel" aria-labelledby="{{ floor.floor }}-{{ room.room_number }}">
                <div class="col-lg-5 p-0">
                  {% if room.image %}
                    {% assign room_img = room.image %}
                    {% include image.html name=room_img class="h-100 img-fluid img-cover" %}
                  {% elsif floor.floor == 3 %}
                    {% include image.html name="office-floor-3.jpg" class="h-100 img-fluid img-cover" %}
                  {% else %}
                    {% include image.html name="redu-office.jpg" class="h-100 img-fluid img-cover" %}
                  {% endif %}
                </div>
                <div class="col row m-0 w-100 text-label bg-dark p-5">
                  <div class="col-lg-4 font-weight-bold text-uppercase">
                    <span>Ref: <span class="text-primary">{{ room.title }}</span></span>
                    <br>
                    {% if room.area %}
                      <span>Area: <span class="text-primary text-lowercase">{{ room.area }} sqft</span>
                    {% endif %}
                  </div>
                  <div class="col-lg text-lg-right font-weight-bold text-uppercase">
                    <span>Contact: <a href="tel:{{ site.phone | remove: ' ' }}" class="text-primary">{{ site.phone }}</a></span>
                    <br>
                    <span>Email: <a href="mailto:{{ site.email }}" class="text-primary">{{ site.email }}</a></span>
                  </div>

                  <div class="row w-100">
                    <div class="col p-4">
                      <p>{{ room.description }}</p>
                      Imbue's facilities include:
                      <ul>
                        <li>Onsite Parking Available</li>
                        <li>CCTV in Operation</li>
                        <li>Reception</li>
                        <li>Fully Adjustable Air Conditioning</li>
                        <li>Meetings and Boardrooms Available</li>
                        <li>LED Lighting System</li>
                      </ul>
                      <a href="{{ '/contact' | absolute_url }}" class="btn btn-primary" role="button">Contact Us</a>
                    </div>
                  </div>
                </div>

                <a href="/contact" class="room-contact-strip row m-0 py-3 p-sm-0 bg-primary text-uppercase d-flex justify-content-center align-items-center">
                  <div class="font-weight-bold text-light">
                    Contact
                  </div>
                </a>
              </div>
            {% endfor %}
          {% endif %}
        </div>

        {% unless floor.floor == 3 %}
          {% assign offices_pictures = site.data.floorplan-images %}
        {% else %}
          {% assign offices_pictures = site.data.floorplan-images-floor-3 %}
        {% endunless %}
        {% include offices-grid.html
          pictures=offices_pictures %}
      </div>
    {% endfor %}
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', function() {

    // get id of hovered room and match it with the available text id for hover.
    // i tried a simpler toggle approach however there is a bug on page load
    // where a state would stick when the mouse is already over the element.
    $(".floorplan__room a, .floorplan__wing a").hover(
      // mouse enter
      function() {
        let id = '#availability-' + this.id;
        if ($(this).hasClass("bg-muted")) {
          $(id).addClass("text-danger font-weight-bold");
        } else {
         $(id).addClass("text-primary font-weight-bold");
       }
      },
      
      // mouse leave
      function() {
        let id = '#availability-' + this.id;
        if ($(this).hasClass("bg-muted")) {
          $(id).removeClass("text-danger font-weight-bold");
        } else {
          $(id).removeClass("text-primary font-weight-bold");
        }
      }
    );

    // use Bootstrap nav tabs api to tap into current/previous selected tabs
    $('.floor-tabs').on('shown.bs.tab', function (e) {
      $('.floor-tabs').each(function(index) {
        // start index from 1
        index++;
        if (e.target.id == 'floor-'+index+'-tab') {
          $('#Floor-'+index+'-img').addClass("active show");
        }

        if (e.relatedTarget.id == 'floor-'+index+'-tab') {
          $('#Floor-'+index+'-img').removeClass("active show");
        }
      });
    });

    // force Bootstrap tabs to toggle active classes and accessibility attributes
    // for rooms
    $('.floorplan__floor-wrapper.nav-tabs li a').click(function (e) {
      $('.floorplan__floor-wrapper.nav-tabs li a.active').removeClass('show active').attr("aria-selected", "false");
      $(this).parent('a').addClass('show active').attr("aria-selected", "true");

      var el = this; // allow setTimeout to use "this" element rather than window
      setTimeout(function() {
        $("html, body").animate({
          scrollTop: $("#content-"+el.id).offset().top - 100 // just some extra padding
        }, 500);
      }, 200);
    });
  });
</script>
