<div class="container-fluid">
  <div class="row pictures">
    <div class="row m-0 pl-md-0 pr-md-2 px-0 col-xl-6 col-md-6">
      {%- assign picture = include.picture -%}
      {%- assign alt = include.alt -%}

      <div class="col-lg pr-md-2 pl-md-0 px-0 py-0 come-in-view come-in-left">
        {% include image.html name=picture alt=alt class="img-fluid img-cover h-100 w-100" %}
        <noscript>
          {% include noscript-image.html name=picture alt=alt class="img-fluid img-cover h-100 w-100" %}
        </noscript>
      </div>
    </div>

    <div class="w-100 col-xl-5 col-md-6 px-4 py-4 align-self-center">
      <div class="row">
        <div class="pl-3 d-flex align-items-end come-in-view come-in-down">
          {% include image.html name="building-vector.png" class="img-fluid" %}
          <noscript>
            {% include noscript-image.html name="building-vector.png" class="img-fluid" %}
          </noscript>
        </div>
        <div class="col">
          {% for floor in site.data.floors.floors reversed %}
            <p class="mb-0{% if forloop.first %} mt-3{% endif %}">
              <span class="font-weight-bold">FLOOR {{ floor.floor }}: </span>
              <span class="{% if floor.isAvailable == true %}text-primary{% else %}text-muted{% endif %}">
                {% if floor.isAvailable == true %}
                  SPACE AVAILABLE
                {% else %}
                  OCCUPIED
                {% endif %}
              </span>
            </p>
          {% endfor %}
        </div>
      </div>
      <div class="row pt-3">
        <div class="col come-in-view come-in-right">
          <h2 class="h4 py-3">Space Available</h2>
          <p>
            Imbue is a sophisticated modern building with offices and meeting
            rooms spread across three floors, and a stunning light-flooded
            atrium reception. Imbue’s custom offices are progressive and
            business-minded; kitted out will excellent IT services as well as a
            photography and video studio within the building.
          </p>

          <p>
            We are located right at the start of the dazzling Durham heritage
            coast in the seaside town of Seaham, with fantastic links to the
            A1 and A19.
          </p>
          <span class="font-weight-bold text-primary h4"><a href="{{ '/office-space' | absolute_url }}">TAKE A LOOK &gt;</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
