<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<!-- Async Google font load -->
<script>
  WebFont.load({
    google: {
      families: ['Lato:300,400,700']
    }
  });
</script>

<noscript>
  <link
    href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
    rel="stylesheet"
  >
</noscript>

<script defer src="{{ "/assets/scripts/jquery-3.3.1.min.js" | absolute_url }}"></script>
<script defer src="{{ "/assets/scripts/jquery-migrate-3.0.1.min.js" | absolute_url }}"></script>
<script defer src="{{ "/assets/scripts/jquery.mobile.custom.min.js" | absolute_url }}"></script>
<script defer src="{{ "/assets/scripts/js.cookie.js" | absolute_url }}"></script>
<script defer src="{{ "/assets/scripts/popper.min.js" | absolute_url }}"></script>
<script defer src="{{ "/assets/scripts/bootstrap.min.js" | absolute_url }}"></script>

<script async src="{{ "/assets/scripts/modernizr-custom.js" | absolute_url }}"></script>
<script defer src="{{ "/assets/scripts/ofi.min.js" | absolute_url }}"></script>
<script defer src="{{ "/assets/scripts/css3-animate-it.js" | absolute_url }}"></script>
<script defer src="{{ "/assets/scripts/main.js" | absolute_url }}"></script>

<script>
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
</script>
