<div class="container-fluid px-0 pt-5">
  <div class="row bg-primary text-light py-4">
    <div class="container">
      <div class="row">
        {%- assign services = site.data.services -%}
        {% for service in services %}
          {% capture service_image %}{{ service.image }}{% endcapture %}
          <div class="col-lg-2 col-md-4 col-sm-6 d-flex justify-content-center align-items-start">
            <div class="d-inline-block icon-container img-fluid border-primary rounded-circle">
              {% include noscript-image.html name=service_image class="img-fluid rounded-circle border-light w-100 hero-icon p-xl-4 p-2" %}
              <h2 class="h6 my-3 text-capitalize text-center">{{ service.title }}</h2>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
