<div class="d-none d-md-block text-light position-fixed slideout-contact-widget js">
  {% include noscript-image.html name="Contact-symbol.png" class="border border-border rounded-circle bg-dark img-fluid p-2 h-100" id="SlideOutWidgetSurface" %}
  <div class="border border-border h-100 d-flex flex-column justify-content-center bg-dark position-absolute text-center slideout-contact-widget-phone">
      <span><a class="text-light" href="tel:{{ site.phone | remove: ' ' }}">{{ site.phone }}</a></span>
      <span><a class="text-light" href="mailto:{{ site.email }}">{{ site.email }}</a></span>
  </div>
</div>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    $("#SlideOutWidgetSurface").click(function() {
      $(".slideout-contact-widget-phone").toggleClass("show");
    });
  });
</script>
