<div class="container-fluid pb-5">
  <div class="row bg-dark text-light mb-md-3">
    {% include full-width-title.html title="Tenants" %}
  </div>

  <div class="row">
    <div class="container">
      <div class="row align-items-center justify-content-between pt-md-3 pb-md-3">
        {%- assign tenants = site.data.tenants -%}
        {% assign delay = 0 %}
        {% for tenant in tenants %}
          {% unless forloop.first %}
            {% assign delay = delay | plus: 1 %}
          {% endunless %}

          {% capture tenant_logo %}{{ tenant.logo }}{% endcapture %}
          {% capture tenant_title %}{{ tenant.title }}{% endcapture %}
          <div class="tenant-grid__item w-20 d-flex flex-wrap justify-content-center align-items-center py-md-0 py-4 come-in-view come-in-up {% unless forloop.first %}delay-{{ delay }}{% endunless %}">
            {% if tenant_title == 'House of Mooshki' %}
              {% include image.html name=tenant_logo alt=tenant_title class="img-fluid tenant-mooshki" %}
            {% else %}
            {% include image.html name=tenant_logo alt=tenant_title class="img-fluid" %}
            {% endif %}
            <noscript>
              {% include noscript-image.html name=tenant_logo alt=tenant_title class="img-fluid" %}
            </noscript>
          </div>
        {% endfor %}
      </div>

      {% comment %}
      <div class="row align-items-center justify-content-between pt-md-3 pb-md-3">
        {% for tenant in tenants offset: 5 limit: 5 %}
          {% capture tenant_logo %}{{ tenant.logo }}{% endcapture %}
          {% capture tenant_title %}{{ tenant.title }}{% endcapture %}
          <div class="col-md-2 d-flex justify-content-center align-items-center py-md-0 py-4">
            {% include image.html name=tenant_logo alt=tenant_title class="img-fluid" %}
            <noscript>
              {% include noscript-image.html name=tenant_logo alt=tenant_title class="img-fluid" %}
            </noscript>
          </div>
        {% endfor %}
      </div>
      {% endcomment %}

      <div id="tenants" class="testimonials row align-items-center justify-content-between pt-md-3 pb-md-3">
        {% assign delay-tenant = 0 %}
        {% for testimonial in site.data.tenant-testimonials %}
          {% unless forloop.first %}
            {% assign delay-tenant = delay-tenant | plus: 1 %}
          {% endunless %}
          {% assign image = testimonial.image %}
          <div class="row m-0 col-lg-4 px-0 py-3 col-md-12">
            <div class="col-lg-4 col-md-3 mb-md-0 mb-3 d-flex justify-content-center align-items-start">
              <div class="lazyload testimonial-container icon-container img-fluid border rounded-circle {{ testimonial.image | remove: '.jpg' }} come-in-view come-in-up {% unless forloop.first %}delay-{{ delay-tenant }}{% endunless %}">
                {% include noscript-image.html name=image class="img-fluid home-hero-icon position-relative" %}
              </div>
            </div>

            <div class="col px-2">
              <p class="font-weight-bold text-uppercase">{{ testimonial.title }}</p>
              <p>{{ testimonial.content }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
