.news-grid-post-title {
  bottom: 50px;
  min-height: 50px;
  margin-bottom: -50px;
}

.amenities-image-container {
  .amenities-overlay {
    top: 0;
    opacity: 0;
    background-color: rgba(theme-color("dark"), 0.8);
    transition: opacity .3s ease;
    @include media-breakpoint-down(md) {
      font-size: .8rem;
    }
    
    &.location-graphic {
      opacity: 1;
    }
  }

  &:hover, &:focus {
    .amenities-overlay {
      opacity: 1;
    }
  }
}
