$label-color: #D6D6D6;

.text-label {
  color: $label-color !important;
}

.floorplan {

  .nav-tabs, .tab-content {
    border-width: 3px;
  }

  .building-vector {
    z-index: 1;
  }

  .building-floor-indicator {
    width: 100%;
    height: 13%;
    left: 0;
    z-index: 0;
  }

  #floorplanTabContent2 .tab-pane.show.active {
    display: flex;
    justify-content: flex-end;
    & img {
      border-bottom: 3px solid map-get($theme-colors, "primary");
    }
  }

  &__floor {
    height: 100%;

    .d-flex nav {
      z-index: 0;
    }

    & > .container > .d-flex {
      margin-top: -100px;

      @include media-breakpoint-only(lg) {
        margin-top: -80px;
      }
      @include media-breakpoint-only(md) {
        margin-top: -65px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: -10%;
      }
    }

    .d-flex svg {
      pointer-events: none;
      z-index: 1;
    }

    &-title {
      padding-left: 85px !important;
      padding-right: 85px !important;

      @include media-breakpoint-only(lg) {
        padding-left: 65px !important;
        padding-right: 65px !important;
      }
      @include media-breakpoint-only(md) {
        padding-left: 50px !important;
        padding-right: 50px !important;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 6% !important;
        padding-right: 6% !important;
      }
    }

    &-wrapper {
      height: 38.5%;
      width: 100%;
      top: 13.96%;
      left: 0;
      padding-left: 7.1% !important;
      padding-right: 7.1% !important;
      z-index: 10;

      .row {
        .wing-label {
          top: 44%;
          pointer-events: none;

          @include media-breakpoint-only(lg) {
            font-size: 1.2rem !important;
          }
          @include media-breakpoint-only(md) {
            font-size: 1rem !important;
          }
          @include media-breakpoint-down(sm) {
            font-size: 0.7rem !important;
            top: 90%;
          }

          &:first-of-type {
            left: 24%;
          }

          &:last-of-type {
            right: 24%;
          }
        }

        .row:last-child {
          top: 6.4%;
          left: 0;

          .floorplan__room {
            height: 57%;
          }
        }

        &:last-child {
          .row {
            .floorplan__room {
              &:first-child {
                width: 15.9% !important;
              }

              &:last-child {
                width: 18.9% !important;
              }
            }
          }
        }
      }
    }

    .availability {
      padding: 0 7%;
      margin-top: -5%;

      .availability-center {
        width: 32%;
      }
    }
  }

  li.floorplan__wing {
    width: 100% !important;
    height: 85% !important;
  }

  li.floorplan__open-area {
    width: 65%;
    height: 86%;
  }


  &__room {
    color: #000;
    height: 86%;
    width: 16.3% !important;
    flex-basis: auto !important;

    &:first-of-type {
      width: 18.5% !important;
    }

    &.active {
      background: map-get($theme-colors, "muted");
    }

    &--divider {
      position: absolute;
      top: 43.8%;
      background: white;
      height: 14%;
      z-index: 1;
      width: 31.8%;

      &-left {
        left: 7%;
        border-right-width: 0;
        border-left-width: 0;
      }
      &-right {
        right: 7%;
        border-left-width: 0;
        border-right-width: 0;
      }
    }

    &--center {
      height: 100% !important;
      width: 26.1%;
    }

    &--center + .floorplan__room {
      border-left-width: 0;
    }

    &--label {
      @include media-breakpoint-down(sm) {
        transform: rotate(-90deg);
        font-size: 0.4rem;
        top: 4px;
      }
    }

    &:hover {
      opacity: 0.75;
      color: #fff;

      & > .floorplan__room-availability {
        background-color: white;
      }
    }
    &:last-child {
      border-right-width: 2px;
    }

    &-content {
      div.tab-pane.active {
        display: flex;
      }

      .room-contact-strip {
        width: 30px;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        div {
          transform: rotate(-90deg);

          @include media-breakpoint-down(sm) {
            transform: rotate(0);
          }
        }
      }
    }
  }
}

.office-image {
  max-height: 350px;

  @include media-breakpoint-between(md, lg) {
    height: 250px;
  }
  @include media-breakpoint-up(lg) {
    height: 300px;
  }
  .offices-image-container {  
    .swipe-marker {
      height: 60px;
      top: 45%;
      right: -65px;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
      transform: rotate(270deg);
  
      -webkit-clip-path: polygon(100% 100%, 0 100%, 20% 0, 80% 0);
      clip-path: polygon(100% 100%, 0 100%, 20% 0, 80% 0);
    }
  
    .offices-overlay {
      top: 0;
      opacity: 0;
      background-color: rgba(theme-color("dark"), 1);
      transition: opacity .15s linear;
  
      p {
        @include media-breakpoint-up(lg) {
          font-size: .95rem !important;
        }
        @include media-breakpoint-only(lg) {
          font-size: .7rem !important;
        }
        @include media-breakpoint-only(md) {
          font-size: .8rem !important;
        }
      }
  
      &.location-graphic {
        opacity: 1;
      }
  
      &.show {
        left: 0;
        opacity: 1;
      }
  
      @include media-breakpoint-down(sm) {
        transition: all .5s ease;
        left: 300px;
      }
    }
    
    @include media-breakpoint-up(md) {
      &:hover, &:focus {
        .offices-overlay {
          opacity: 1;
        }
      }
    }
  
    @include media-breakpoint-down(md) {
      touch-action: manipulation;
    }
  
  
    .offices-overlay-content {
      bottom: 0;
      z-index: -1;
  
      transition: bottom .3s ease-in-out;
    }
  }
}
