.news {
  .row.w-50 {
    @include media-breakpoint-down(md) {
      width: 100% !important;
    }
  }

  .news-post__top-story {
    width: 150px;
    height: 150px;

    top: 50px;
    left: 50px;
    z-index: 1;

    transform: rotate(339deg);
    border-width: 7px;
    border-style: solid;
  }

  .news-grid-post-title {

    top: -48px;
    transition: top .1s ease;

    h2 {
      bottom: 0;
      margin-top: 15px;
    }

    span {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.news-grid-post-item {
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    height: 300px;
  }

  &:hover .news-grid-post-title {
    top: -75px;
  }
}
