.testimonials {
  border-bottom: 2px solid $border-color;
  border-top: 2px solid $border-color;
}

.tenant-grid__item {
  height: 160px;
  padding: 0 20px;
}

.tenant-mooshki {
  background: theme-color("dark");
  padding: 20px;
}

.testimonial-container {
  overflow: hidden;

  &.theo img, &.emily img {
    right: 10px;
  }
}
