---
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">
  {%- include head.html -%}
  <body>
    {%- include mobile-phone-widget.html -%}

    {%- include cookie-banner.html -%}

    {%- include modal.html -%}

    {%- include header.html -%}

    <main class="container-fluid p-0" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6KH4TS"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  
  </body>
</html>
